*{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* NAVBAR */

header {
    position: sticky;
    top: 0;
}

body{
    overflow: hidden;
    height: 100vw;
    background-color: #181818;

}

header{
    position: sticky; 
    top: 0;
}

.nav-bar{
    position: sticky;
    top: 0;
    padding-left: 30px;
    background-color: #181818;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: #f7f4ef5e 1px solid;
    padding: 10px;
}

.logo img{
    width: 150px;
    padding: 10px;
}

/* CONTENT */

.greet{
    margin-top: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: #D9D9D9;
    margin: 150px;
    margin-bottom: 40px;
}

.back{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.greet p a{
    font-weight: 100;
    font-size: 24px;
    color: #d9d9d95c;
    padding: 10px;
}

.greet > h3{
    font-size: 30px;
}

.arrow-left{
    width: 20px;
    padding: 1px;
}

img{
    width: 1000px;

}

.table-orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

h1{
    color: rgba(255, 255, 255, 0.783);
    font-size: 32px;
    font-weight: lighter;
}

.table{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

input{
    font-size: 18px;
    padding-left: 10px;
    background-color: #1e1e1e;
    border: 1px rgba(255, 255, 255, 0.521) solid;
    border-radius: 8px;
    height: 30px;
    width: 200px;
    padding: 6px;
}

.util{
    padding-left: 315px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

button{
    border: none;
    height: 20px;
    padding: 20px;
    font-size: 1rem;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 10px;
}

button a{
    color: black;
}
input:active{
    color: white;
}

.tools img{
    width: 40px;

}

.edit-tools{
    margin-top: 110px;
    padding: 1px;
}

.tools{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}